.count{
  position: fixed;
  height: 200px;
  width: 100%;
  overflow: auto;
  box-shadow: 0 0 3px #000;
  border-radius: 5px;
  background-color: #5362b2;
  color: #ffff;
}
.count h2{
    text-decoration: underline;
    font-size: 18px;
    text-align: center;
    font-style: italic;
}
ul{
  padding: 0 0.5rem;
}

.fav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.fav .cancel{
  color: red;
  font-size: 20px;
}
.count-cancel{
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}