.count{
  margin-bottom: 1rem;
  height: 150px;
  overflow: auto;
  position: relative;
  box-shadow: 0 0 3px #000;
  border-bottom: 3px solid green;
}
.count h2{
    text-decoration: underline;
    font-size: 18px;
    text-align: center;
    font-style: italic;
}