header{
    border-bottom: 5px solid green;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    height: 100px;
}
.header-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    color: red;
    font-size: 32px;
}
