header{
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 5px solid green;
    border-radius: 5px;
    z-index: 9;
    background-color: #ffe4db;
    padding-top: 0.5rem;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    height: 100px;
}
.header-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.icons{
    color: red;
    font-size: 32px;
}
