.load{
    margin-top: 9rem;
}
.spin{
    text-align: center;
    margin-top: 9rem;
}

.spinner{
    color: red;
    font-size: 100px;
    animation: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes spin{
    0%{
        transform: rotate(-360deg);
    }
}