form{
    position: relative;
    margin-top: 10rem;
    padding: 0.5rem;
}
label{
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
}
label span{
    color: red;
    font-size: 16px;
}
.time-date{
    display: flex;
    justify-content: space-between;
}
input[type="date"], input[type="time"]{
    padding: 8px 8px;
    margin:  0.7rem 0;
    border: 1px solid #000;
    outline: none;
    border-radius: 5px;
}

input[type="text"]{
    min-width: 95%;
    max-width: 95%;
    padding: 12px 8px;
    margin:  0.7rem 0;
    border: 1px solid #000;
    outline: none;
    border-radius: 5px;
}
input::placeholder{
    font-size: 15px;
}
input[type="checkbox"]{
    float: right;
    margin-top: 0.7rem;
    margin:  0.7rem 0;
}
input[type="Submit"]{
    background-color: green;
    font-size: 18px;
    color: #fff;
    border: none;
    width: 100%;
    padding: 16px 0px;
    margin:  0.7rem 0;
    border-radius: 5px;
}

